# Algoritmos e Programação de Computadores I

# Semana 1 - Exercícios

### Algoritmo do Filme Coringa

In [ ]:
#inicio
    #ir ao cinema
    #comprar uma entrada
    #ver o filme
    #voltar para casa
#fim

#e se não tiver passando?
#e se mão tiver fila? 
#e se não houver lugar?

### Média de Notas

In [ ]:
media = 0 #variavel para guardar a média
total_notas = 0 #variável para guardar total de notas

for i in range(100): #itera sobre os 5 alunos
    nota = int(input("Informe a nota do aluno {}:".format(i+1))) #leitura da nota
    total_notas += nota #soma da nota lida com total de notas

media = total_notas / 100 #media é o total de notas dividido por 5(número de alunos)
print("A média das notas é {}".format(media))

In [ ]:
media = 0 #variavel para guardar a média
total_notas = 0 #variável para guardar total de notas

for i in range(4): #itera sobre os 5 alunos
    nota = int(input("Informe as notas do aluno, N{}:".format(i+1))) #leitura da nota
    total_notas += nota #soma da nota lida com total de notas

media = total_notas / 4 #media é o total de notas dividido por 5(número de alunos)
print("A média das notas do aluno é {}".format(media))
if media > 5:
    print("Aluno aprovado com média", media)
if media < 5:
    print("Aluno Reprovado com média", media)

### Conversão Celsius x Fahrenheit

In [ ]:
c = float(input("Temperatura em graus Celsius:"))
f = c * 9 / 5 + 32
print(f)

### Soma dos Números Naturais

In [ ]:
for i in range(1, 100):
    soma = i + 1
    print(soma)

# Semana 2 - Exercícios de apoio

### Média Harmônica

In [2]:
3/((1/3.6)+(1/8.9)+(1/10))

6.120733571064696

## Exercício 2.1

In [3]:
#A soma dos 5 primeiros inteiros positivos
1 + 2 + 3 + 4 + 5

15

In [3]:
#A idade média de Sara (idade 23), Mark (idade 19) e Fátima (idade 31).
idade1 = 23
idade2 = 19
idade3 = 31
media = idade1 + idade2 + idade3 / 3 
print(float(media))

52.333333333333336

In [5]:
#O número de vezes que 73 cabe em 403.
403 // 73

5

In [6]:
#O resto de quando 403 é dividido por 73
x = 403 / 73
print(float(x))

5.52054794520548

In [7]:
#2 à 10ª potência.
2 ** 10

1024

In [9]:
#O valor absoluto da distância entre a altura de Sara (54 polegadas) e a altura de Mark (57 polegadas).
abs(54 - 57)

3

In [10]:
#O menor preço entre os seguintes preços: R$ 34,99, R$ 29,95 e R$ 31,50.
min(34.99, 29.95, 31.50)

29.95

## Exercício 2.2

In [1]:
#A soma de 2 e 2 é menor que 4.
print(2 + 2 < 4)

False

In [2]:
# O valor de 7 // 3 é igual a 1 + 1.
print(7 // 3 == 1 + 1)

True

In [4]:
#A soma de 3 ao quadrado e 4 ao quadrado é igual a 25.
print(9 + 16 == 25)

True

In [5]:
#A soma de 2, 4 e 6 é maior que 12.
print(2 + 4 + 6 > 12)

False

In [8]:
#1387 é divisível por 19.
if 1387 % 19 == 0:
    print("1387 é divisivel por 19")
else:
    print("1387 não é divisivel por 19")

1387 é divisivel por 19

In [13]:
#31 é par. (Dica: o que o resto lhe diz quando você divide por 2?)
print(31 % 2)
#31 não é par

1

In [1]:
#O preço mais baixo dentre R$ 34,99, R$ 29,95 e R$ 31,50 é menor que R$ 30,00.
precos = [34.99, 29.95, 31.50]
preco_mais_baixo = min(precos)

if preco_mais_baixo < 30.00:
    print("O preço mais baixo é menor que R$ 30,00")
else:
    print("O preço mais baixo é igual ou maior que R$ 30,00")

O preço mais baixo é menor que R$ 30,00

## Exercício 2.3

In [2]:
#Atribua o valor inteiro 3 à variável a.
a = 3
print(a)

3

In [3]:
#Atribua 4 à variável b.
b = 4
print(b)

4

In [4]:
# Atribua à variável c o valor da expressão a * a + b * b.
a = 3
b = 4
c = a + b
print(c)

7

## Exercício 2.4

In [9]:
#(a) 'ant bat cod'
#(b) ant ant ant ant ant ant ant ant ant ant'
#(c) 'ant bat bat cod cod cod'
#(d) 'ant bat ant bat ant bat ant bat ant bat ant bat ant bat'
#(e) 'batbatcod batbatcod batbatcod batbatcod batbatcod'
s1 = 'ant'
s2 = 'bat'
s3 = 'cod'
print(s1 + s2 + s3)
print(s1 * 10)
print(s1 + (s2 * 2) + (s3 * 3))
print((s2 * 2) + s3 + (s2 * 2) + s3 + (s2 * 2) + s3 + (s2 * 2) + s3 + (s2 * 2) + s3)

antbatcod
antantantantantantantantantant
antbatbatcodcodcod
batbatcodbatbatcodbatbatcodbatbatcodbatbatcod

## Exercício 2.5

In [15]:
s = '0123456789'
print(s)
print(s[0])
print(s[1])
print(s[6])
print(s[8])
print(s[9])

0123456789
0
1
6
8
9